@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

html, body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  height: 100vh;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 80vw;
  margin: 0 auto;
}

.header-content {
  max-width: 80vw;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 5px;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin-right: auto;
}

/* footer {
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #777;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 11pt;
  text-align: center!important;
}

footer > a {
  text-decoration: underline;
}

footer > a:hover {
  text-decoration: none;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#__next {
  height: 100%;
}

.split-view-view {
  height: auto;
}

.badge-title {
  background: none;
  text-transform: unset;
  font-weight: unset;
  letter-spacing: unset;
  font-size: 12pt;
}

.badge-title > .mantine-Badge-inner {
  color: black;
}

/* 
.mantine-Checkbox-labelWrapper {
  padding-top: 0;
} */

.cb-group > .mantine-Group-root {
  padding-top: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.mantine-InputWrapper-root:hover {
  cursor: pointer!important;
}

.mantine-Radio-root:hover *:hover {
  cursor: pointer !important;
  text-shadow: 5 5 5 blue;
}

.mantine-Radio-root:hover input {
  color: #228be6;
  border: 1px solid #228be6;
}

.mantine-Radio-root:hover label {
  color: #228be6;
  text-shadow: 0 0 1px #228be6;
}

.mantine-Radio-root label {
  padding-left: 5px;
  font-size: 11pt;
}

.pre-with-wrap pre {
      white-space: pre-wrap;
      /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
}

.page-title {
  font-family: 'Inter' ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-image: linear-gradient(52deg, rgba(28, 126, 214, 0.25) 3%, rgba(34, 184, 207, 0.5) 97%) */
}

.mantine-Modal-header {
  margin-bottom: 0!important;
}

.mantine-NativeSelect-root > * {
  font-size: 10pt!important;
  line-height: 10px!important;
  box-sizing: border-box!important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mantine-NativeSelect-input > * {
  max-height: 10px!important;
  line-height: 10px!important;
  height: 10px;
  box-sizing: border-box!important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sash {
  z-index: 2!important;
}

.split-view-view::before {
  width: 0;
}

thead {
  z-index: 1!important;
}

/* mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.4) 4%,
      rgba(255, 225, 0, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
} */